.reg_error{
    font-size: 0.5em;
    color: DarkRed ;
}

.log_error{
    font-size: 0.5em;
    color: DarkRed ;
}


.show_pass_pos{
    position:relative; 
    left: -76px; 
}

.list-group-item-dark.active{
    background-color: #343a40;
}

.show_border {
    border:1px solid black;
}

.cursor_hand {
    cursor: pointer;
}

.list-group-item:hover{
    background-color: DarkGrey;
    cursor: pointer;
}

.list-group-item.active:hover{
    background-color: #343a40;
}

.file {
  visibility: hidden;
  position: absolute;
}

.grey-box{
    border: 1px solid black;
    background-color: #DCDCDC;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.grey-box:hover{
    cursor: pointer;
}

.times{
    border-radius: 15px;
    color: white;
    background: #333;
    display : inline-block;
}

.bottom-buffer{
    margin-bottom: 2em;
}

.usr-icon{
    color:grey;
}

.usr-icon:hover{
    color:black;
    cursor: pointer;
}

.button__badge {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
   
    padding: 1px 3px;
    font-size: 14px;
    
    /* position: inline; Position the badge within the relatively positioned button */
    top: 0;
    right: 0;
  }


.underline:hover {
    text-decoration: underline;
}

.food_img {
    display: block;
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
  }

.blur{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.train_icon{
    border:1px solid black; 
    background-color:#c6c8ca;
}

.train_icon:hover{
    background-color:grey;
}

#scroll_top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #6c757d;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
  
#scroll_top:hover {
    background-color: #343a40;
    color: white;
}