.reg_error{
    font-size: 0.5em;
    color: DarkRed ;
}

.log_error{
    font-size: 0.5em;
    color: DarkRed ;
}

.list-group-item-dark.active{
    background-color: #343a40;
}

.show_border {
    border:1px solid black;
}

.cursor_hand {
    cursor: pointer;
}

.list-group-item:hover{
    background-color: DarkGrey;
    cursor: pointer;
}

.list-group-item.active:hover{
    background-color: #343a40;
}

.file {
  visibility: hidden;
  position: absolute;
}
